.item{
    width: 350px;    
}
.item img{
    width: 80%;
    height: auto;
}
.item p{
    text-align: left;
    margin: 6px 28px;
    font-size: 15px;
}
.item-prices{
    display: flex;
    margin-left: 30px;
}
.item-prices-new{
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}
.item-prices-old{
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 500;
    text-decoration: line-through;
    margin-left: 10px;
}
.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}